.quiz-container{
    border: 2px solid darkgray;
    margin: 50px 50px;
    padding: 30px;
    background-color: dimgray;
    border-radius: 10px;
}
.question-style{
    border: 2px solid white;
    border-radius: 10px;
    background-color: rgba(255, 0, 0, 0.507);
    padding: 10px;
    font-size: 16px;
}
.option-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.quiz-num{
    color: white;
}

@media only screen and (max-width:688px){
    .option-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        
    }
}